@charset "utf-8";
/* body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
} */
* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
    color: #353230;
}
ul,ol{
    list-style: none;
}
html{
    font-size: 18px ;
    line-height: 1.42;
    color: #353230 ;
}
body{
    font-family: 'Noto Color Emoji', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    color: #353230;
    padding-top: 70px ;
}
#wrap{
    min-width: 1340px;
}
h1{
    font-weight: normal;
    font-style: normal;
}

/* -----header----- */
#header {
    height: 70px ;
    border-bottom: 2px solid #da001e;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% ;
    z-index: 999;
}
.header_inner {
    width: 1320px ;
    margin: 0 auto;
    height: 70px ;
    position: relative;
}

.logo {
    width: 231px;
    position: absolute;
    top: 12px ;
    left: 0;
}
#nav {
    /* background-color: bisque; */
    height: 70px ;
    text-align: center;
    padding-top: 7px ;
    float:right;
    box-sizing: border-box;
}
.gnb {
    display: inline-block;
}
.gnb> li {
    float: left;
}
.gnb> li> a {
    color: #353230 ;
    display: block;
    padding: 16px 30px 23px 50px;
    font-weight: bold;
    /* background-color: red; */
}
.gnb> li> a:hover {
    color: #da001e ;
}

/* -----banner----- */
#banner {
    width: 100% ;
}
.banner_Swiper_wrap {
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
  }

/* -----quick_menu----- */
#quick_menu {
    width: 1320px ;
    margin: 0 auto;
    height: 190px ;
    /* background-color: red; */
    margin-bottom: 60px ;
}
.quick_menu_wrap {
    /* 자식요소 float */
    width: 1100px ;
    height: 190px ;
    margin: 0 auto;
    text-align: center;
    margin-top: 6% ;
    /* background-color: orange; */
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
}
.quick_menu_wrap> li> a {
    display: inline-block;
    width: 300px ;
    height: 190px ;
    padding-top: 12% ;
    box-sizing: border-box;
    border: 2px solid #f0f0f0;
    background-color: #f8f7f7 ;
    border-radius: 10%;
    font-weight: 600;
}
.quick_menu_wrap> li> a:hover {
    color: #fff;
    font-weight: bold;
    border: 2px solid #da001e;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.quick_menu_wrap> li> .on1:hover {
    background: #da001e url(../images/main_imges/quickmenu1_DB_White.png) no-repeat center top 39% ;
}
.quick_menu_wrap> li> .on2:hover {
    background: #da001e url(../images/main_imges/quickmenu1_Box_White.png) no-repeat center top 39% ;
}
.quick_menu_wrap> li> a:hover img {
    opacity: 0 ;
}

/* -----review----- */
#review {
    overflow: hidden;
    background-color: #FFFDF9;
}
.review_inner {
    width: 1340px ;
    margin: 0 auto;
    text-align: center;
    /* background-color: red; */
}
.review_title {
    margin-top: 55px ;
    border-bottom: 0px solid #353230 ;
}
.review_title_detail {
    position: relative;
    z-index: 3;
}
.review_title_detail> a:hover {
    display: block;
    text-decoration: underline;
}
.review_list {
    width: 1340px ;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
    overflow: hidden;
    margin-bottom: 50px ;
    margin-top: 20px ;
    /* background-color: orange; */
}
.review_list> li {
    width: 430px ;
    height: 410px ;
    background-color: #fff;
    padding: 15px ;
    box-sizing: border-box;
    border-radius: 5% ;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    float: left;
    margin: 20px 8px;
}
.review_list_inner_text h5 {
    margin-top: 20px;
}
.review_list_inner_text:nth-child(3) {
    font-size: 14px;
}
.review_img_wrap img {
    width: 400px;
    object-fit: cover;
    border-radius: 10px; /* 모서리 둥글게 */
    display: block;
    margin: 0 auto; /* 가운데 정렬 */
}

.profile_wrap{
    width: 300px ;
    overflow: hidden;
    padding-top: 5px ;
    font-size: 14px;
}
.profile_img_wrap {
    float: left;
    padding-right: 10px ;
}
.review_list> li {
    transform: translateY(0px);
}
.review_list> li:hover {
    transform: translateY(-10px);
    transition: all 0.2s ease-in;
}
.review_list_inner_text_wrap {
    font-size: 14px;
}
.review_list_inner_text_wrap .review_list_inner_text_tag {
    margin-top: 10px ;
    color: #04B2FF ;
}
.review_list_inner_text_detail {
    margin-top: 17px ;
}
.profile_wrap {
    margin-top: 2px ;
}

/* -----akaibeu----- */
#akaibeu {
    text-align: center;
    padding: 15px 20px 65px 20px;
    box-sizing: border-box;
    background-color: #fff; /* 필요시 */
  }
  
  .akaibeu_list_wrap {
    max-width: 1320px;
    margin: 0 auto;
  }
  
  .akaibeu_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* 아이템 간 간격 */
    padding-top: 50px;
    margin: 0;
    list-style: none;
  }
  
  .akaibeu_list li {
    width: calc((100% - 60px) / 4); /* 4개 + 3개의 gap(20px * 3 = 60px) */
    box-sizing: border-box;
  }
  
  .icon_wrap {
    width: 100%;
    text-align: center;
  }
  
  .icon_wrap img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 19px;
  }
.akaibeu_list> li> .akaibeu_on a img:hover {
    overflow: hidden;
    border-radius: 19px ;
    box-shadow: 0px 0px 3px rgba(24, 21, 19, 0.5);
}

/* -----footer----- */
#footer {
    height: 135px ;
    border-top: 1px solid #353230;
    font-size: 14px ;
    /* background-color: orange ; */
}
.link_address {
    width: 1320px ;
    margin: 0 auto;    
    height: 100px ;
    padding: 30px 0 0 ;
    background: url(../images/footer/monstargear.png) no-repeat left top;
    background-position: left 25px;
    /* background-color: red; */
}
.footer_address {
    padding-left: 235px ;
}