@charset "utf-8";
/* body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
} */
* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
    color: #353230;
}
ul,ol{
    list-style: none;
}
html{
    font-size: 18px ;
    line-height: 1.42;
    color: #353230 ;
}
body{
    font-family: 'Noto Color Emoji', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    color: #353230;
    padding-top: 70px ;
}
#wrap{
    min-width: 1340px;
}
h1{
    font-weight: normal;
    font-style: normal;
}

/* -----header----- */
#header {
    height: 70px ;
    border-bottom: 2px solid #da001e;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% ;
    z-index: 999;
}
.header_inner {
    width: 1320px ;
    margin: 0 auto;
    height: 70px ;
    position: relative;
}

.logo {
    width: 231px;
    position: absolute;
    top: 12px ;
    left: 0;
}
#nav {
    /* background-color: bisque; */
    height: 70px ;
    text-align: center;
    padding-top: 7px ;
    float:right;
    box-sizing: border-box;
}
.gnb {
    display: inline-block;
}
.gnb> li {
    float: left;
}
.gnb> li> a {
    color: #353230 ;
    display: block;
    padding: 16px 30px 23px 50px;
    font-weight: bold;
    /* background-color: red; */
}
.gnb> li> a:hover {
    color: #da001e ;
}


/* -----akaibeu----- */
#akaibeu {
    text-align: center;
    padding: 15px 20px 65px 20px;
    box-sizing: border-box;
    background-color: #fff; /* 필요시 */
  }
  .akaibeu_list_wrap {
    max-width: 1320px;
    margin: 0 auto;
  }

  .akaibeu_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* 아이템 간 간격 */
    padding-top: 50px;
    margin: 0;
    list-style: none;
  }
  
  .akaibeu_list li {
    width: calc((100% - 60px) / 4); /* 4개 + 3개의 gap(20px * 3 = 60px) */
    box-sizing: border-box;
  }
  
  .icon_wrap {
    width: 100%;
    text-align: center;
  }
  
  .icon_wrap img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 19px;
  }
.akaibeu_list> li> .akaibeu_on a img:hover {
    overflow: hidden;
    border-radius: 19px ;
    box-shadow: 0px 0px 3px rgba(24, 21, 19, 0.5);
}

/* -----footer----- */
#footer {
    height: 135px ;
    border-top: 1px solid #353230;
    font-size: 14px ;
    /* background-color: orange ; */
}
.link_address {
    width: 1320px ;
    margin: 0 auto;    
    height: 100px ;
    padding: 30px 0 0 ;
    background: url(../images/footer/monstargear.png) no-repeat left top;
    background-position: left 25px;
    /* background-color: red; */
}
.footer_address {
    padding-left: 235px ;
}